span {
    color: white;
}

.usersPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.usersBlock {
    display: grid;
    grid-template-areas:
    "p u u"
    "p u u";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr;
    padding-bottom: 50px;
    max-width: 100%;

}

.nameAndStatus {

}

.sss {
    width: 500px;
    padding-left: 10px;
    border: white 1px solid;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.selectedPage {
    font-weight: bold;
    color: orangered;
}
