.nav {
	grid-area: n;
	background-color:rgb(23, 160, 64);
	padding: 20px;
}

.item a {
	color:white;
	font-size: 20px;
	padding-left: 10px;
	text-decoration: none;
}

.item .active{
	color: gold;
}

.item :hover{
	opacity: 0.8;
	background-color:rgb(23, 160, 64)
}
