.nav {
	grid-area: n;
	/* background-color:rgb(241, 215, 215); */
	padding: 20px;
}

.item a {
	color:white;
	font-size: 20px;
	padding-left: 10px;
	text-decoration: none;
}

.item .active{
	color: rgb(67, 207, 102);
}

.item :hover{
	opacity: 0.8;
	/* background-color:rgb(23, 160, 64) */
}

.friends {
	color:white;
	padding: 10px;
	font-size: 30px;
	padding-top: 80px;
}
.name {
	margin-top: 10px;

}

li::marker{
	color:blue;
}