.nav {
	grid-area: n;
	/* background-color: #16b152; */
	background-color:rgb(23, 160, 64)
}

.item {
	color:white;
	font-size: 20px;
	padding-left: 10px;
}
.item :hover{
	opacity: 0.8;
	background-color:rgb(23, 160, 64)
}
