.app-wrapper {
  background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)), url(https://themified.com/friend-finder/images/bg/bg-3.jpg) fixed no-repeat;;
  margin: 0 auto;
  display: grid;
  max-width: 100%;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
  background-position: center;
}

.app-wrapper-content {
  grid-area: c;
}

