.dialogs {
	display: grid;
	grid-template-columns: 1fr 10fr;
	padding: 10px;
}
.dialog a{
	color:white;
	text-decoration: none;
}

.dialog .active {
	color:rgb(67, 207, 102);
}



.message{
	color: white;
}

.buttonMessage{
	width: 30px;
	height: 30px;
}
